# Config settings for the database
DB_HOST=localhost
DB_PORT=9876
POSTGRES_DB=lego-db
POSTGRES_USER=lego
POSTGRES_PASSWORD=bricks

# Docker container _name used by helper scripts
DB_CONTAINER_NAME=lego-postgres